<li><%= comment.commenter.name %> <%= comment.created_at %></li>
<li><%= comment.content %></li>
<%= link_to 'destroy', [Article.find(comment.article_id), comment], method: :delete, data: { confirm: 'Positive?'} %>
